<h1>Update the details</h1>
<h3>Please only use the correct details</h3>
<form action="/mangas/<%= _id %>?_method=PUT" method="post">

  <div class="control">
    <label class="label" for="book">Title:</label>
    <input class="input" name="book" value="<%= book %>" id="book">
  </div>
  <div class="control">
    <label class="label" for="bookCover">Image (URL)</label>
    <input class="input" name="bookCover" value="<%= bookCover %>" id="bookCover">
  </div>
  <div class="control">
    <label class="label" for="author">Author</label>
    <input class="input" name="author" value="<%= author %>" id="author">
  </div>
  <div class="control">
    <label class="label" for="review">Review</label>
    <textarea class="textarea" name="review" value="<%= review %>" id="review"></textarea>
  </div>
  <button>Update</button>
</form>
